*{
    font-family: Lato;
    margin: 0px;
}

.container_head{
    display: flex;
    padding: 40px;
    align-items: center;
    background-color: rgba(229, 82, 114, .05);
    justify-content: space-between;
}

.head1{
    padding-left: 100px;
}

.banner-head{
    font-size: 60px;
    font-weight: bold;
}

.banner-para{
    padding-top: 25px;
    line-height: 30px;
}

.btn{
    border-radius: 5px;
    background-color: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.feature-container{
    padding: 50px;
}

.feature-text{
    text-align: center;
}

.feature-image-container{
    display: flex;
    justify-content: space-between;
    
}

.image-style{
    background-color: rgba(229, 84, 115, .15);
    border-radius: 200px 200px 0px 0px;
}

.image-description{
    text-align: center;
}

.container2{
    display: flex;
    align-items: center;
    background-color: rgba(39, 39, 39, .5);
    margin: 240px;
    height: 320px;
    justify-content: space-between;
    padding: 50px;
}

.hot-deal{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 200px;
    background-color: rgba(229, 84, 115, .05);
}

.instagram{
    padding-top: 50px;
}

.instagram-text{
    text-align: center;
}

.instagram-images{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.latest-deal-container{
    background-image: url('Rectangle 9.png');
    height: 450px;
    background-repeat: no-repeat;
    margin: 150px;
}

.latest-deal-1{
    text-align: center;
    padding-top: 100px;
}

.form-style{
    height: 55px;
    width: 700px;
}




/* footer styles */
.foot1{
    text-align: center;
    color: white;
    height: 450px;
    background-color: #111010;
}

.foot-head{
    padding-top: 130px;
}

.footer-span{
    color: #E55473;
}

.copyright{
    font-size: 12px;
    color: gray;
}